In [1]:
import pandas as pd

In [4]:
data = pd.read_csv('data/wine.csv')

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129971 entries, 0 to 129970
Data columns (total 13 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   country                129908 non-null  object
 1   description            129971 non-null  object
 2   designation            92506 non-null   object
 3   points                 129971 non-null  int64
 4   price                  120975 non-null  float64
 5   province               129908 non-null  object
 6   region_1               108724 non-null  object
 7   region_2               50511 non-null   object
 8   taster_name            103727 non-null  object
 9   taster_twitter_handle  98758 non-null   object
 10  title                  129971 non-null  object
 11  variety                129970 non-null  object
 12  winery                 129971 non-null  object
dtypes: float64(1), int64(1), object(11)
memory usage: 12.9+ MB

In [6]:
data['taster_name'].nunique()

19

In [7]:
data['price'].max()

3300.0

In [21]:
mask = data.duplicated()
wine_duplicates = data[mask]
wine_data = data.drop_duplicates()

In [22]:
wine_data = wine_data.drop(['region_2'], axis=1)

In [24]:
wine_data.describe(include='all')

,country,description,designation,points,price,province,region_1,taster_name,taster_twitter_handle,title,variety,winery
count,119929,119988,85443,119988.000000,111593.000000,119929,100428,95071,90542,119988,119987,119988
unique,43,119955,37979,NaN,NaN,425,1229,19,15,118840,707,16757
top,US,This opens with subtle aromas of wild flower a...,Reserve,NaN,NaN,California,Napa Valley,Roger Voss,@vossroger,Gloria Ferrer NV Sonoma Brut Sparkling (Sonoma...,Pinot Noir,Wines & Winemakers
freq,50457,2,1871,NaN,NaN,33656,4174,23560,23560,9,12278,211
mean,NaN,NaN,NaN,88.442236,35.620747,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,3.092915,42.103728,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,80.000000,4.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,86.000000,17.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,88.000000,25.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,91.000000,42.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,100.000000,3300.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
# обрабатываем пропуски в категориальных признаках самым простым вариантом, замена на unknown

wine_data['designation'] = wine_data['designation'].fillna('unknown')
wine_data['region_1'] = wine_data['region_1'].fillna('unknown')
wine_data['taster_name'] = wine_data['taster_name'].fillna('unknown')
wine_data['taster_twitter_handle'] = wine_data['taster_twitter_handle'].fillna('unknown')

# признаки с маленьким количеством пропусков заменим на самые частовречающиеся значения
wine_data['country'] = wine_data['country'].fillna('US')
wine_data['price'] = wine_data['price'].fillna(wine_data['price'].mean())
wine_data['province'] = wine_data['province'].fillna('California')
wine_data['variety'] = wine_data['variety'].fillna('Pinot Noir')

In [29]:
wine_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 119988 entries, 0 to 129970
Data columns (total 12 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   country                119988 non-null  object
 1   description            119988 non-null  object
 2   designation            119988 non-null  object
 3   points                 119988 non-null  int64
 4   price                  119988 non-null  float64
 5   province               119988 non-null  object
 6   region_1               119988 non-null  object
 7   taster_name            119988 non-null  object
 8   taster_twitter_handle  119988 non-null  object
 9   title                  119988 non-null  object
 10  variety                119988 non-null  object
 11  winery                 119988 non-null  object
dtypes: float64(1), int64(1), object(10)
memory usage: 11.9+ MB

In [31]:
df = wine_data.to_csv('data/wine_cleared.csv', index=False)