In [1]:
import pandas as pd

In [3]:
cycles_data = pd.read_csv("data\citibike-tripdata.csv", sep=",")
cycles_data.head()

,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,2018-09-01 00:00:05.2690,2018-09-01 00:27:20.6340,252.0,MacDougal St & Washington Sq,40.732264,-73.998522,366.0,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1980,1
1,2018-09-01 00:00:11.2810,2018-09-01 00:02:23.4810,314.0,Cadman Plaza West & Montague St,40.693830,-73.990539,3242.0,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,1969,0
2,2018-09-01 00:00:20.6490,2018-09-01 00:55:58.5470,3142.0,1 Ave & E 62 St,40.761227,-73.960940,3384.0,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1975,1
3,2018-09-01 00:00:21.7460,2018-09-01 00:07:38.5830,308.0,St James Pl & Oliver St,40.713079,-73.998512,3690.0,Park Pl & Church St,40.713342,-74.009355,28866,Subscriber,1984,2
4,2018-09-01 00:00:27.3150,2018-09-01 02:21:25.3080,345.0,W 13 St & 6 Ave,40.736494,-73.997044,380.0,W 4 St & 7 Ave S,40.734011,-74.002939,20943,Customer,1994,1

In [4]:
cycles_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 14 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  object
 1   stoptime                 300000 non-null  object
 2   start station id         299831 non-null  float64
 3   start station name       299831 non-null  object
 4   start station latitude   300000 non-null  float64
 5   start station longitude  300000 non-null  float64
 6   end station id           299831 non-null  float64
 7   end station name         299831 non-null  object
 8   end station latitude     300000 non-null  float64
 9   end station longitude    300000 non-null  float64
 10  bikeid                   300000 non-null  int64
 11  usertype                 300000 non-null  object
 12  birth year               300000 non-null  int64
 13  gender                   300000 non-null  int64
dtypes: float64(6), int64(3), object(5)
memory usage: 32.0+ MB

In [5]:
cycles_data["start station id"].isnull().sum()

169

In [6]:
cycles_data["start station id"].mode()

0    281.0
Name: start station id, dtype: float64

In [7]:
cycles_data["bikeid"].mode()

0    33887
Name: bikeid, dtype: int64

In [8]:
cycles_data["usertype"].value_counts(normalize=True)

Subscriber    0.774007
Customer      0.225993
Name: usertype, dtype: float64

In [13]:
cycles_data[cycles_data["gender"] == 1].shape[0]

183582

In [17]:
cycles_data["start station id"].nunique()

759

In [18]:
cycles_data["end station id"].nunique()

765

In [20]:
cycles_data["birth year"].max()

2002

In [22]:
cycles_data["start station name"].value_counts()

Grand Army Plaza & Central Park S    1928
Central Park S & 6 Ave               1909
Pershing Square North                1873
12 Ave & W 40 St                     1845
West St & Chambers St                1835
                                     ...
NYCBS Depot - GOW                      15
Franklin Ave & Empire Blvd             11
Railroad Ave & Kay Ave                  9
47 Ave & Skillman Ave                   7
Eastern Pkwy & Washington Ave           6
Name: start station name, Length: 759, dtype: int64

In [23]:
cycles_data["end station name"].value_counts()

West St & Chambers St          1963
12 Ave & W 40 St               1909
Pershing Square North          1850
Central Park S & 6 Ave         1828
E 17 St & Broadway             1804
                               ...
Exchange Place                    3
Union St                          1
Warren St                         1
Montrose Ave & Bushwick Ave       1
Liberty Light Rail                1
Name: end station name, Length: 765, dtype: int64

In [24]:
df_cycles = cycles_data.copy()

In [26]:
df_cycles = df_cycles.drop(["start station id","end station id"], axis=1)
df_cycles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 12 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  object
 1   stoptime                 300000 non-null  object
 2   start station name       299831 non-null  object
 3   start station latitude   300000 non-null  float64
 4   start station longitude  300000 non-null  float64
 5   end station name         299831 non-null  object
 6   end station latitude     300000 non-null  float64
 7   end station longitude    300000 non-null  float64
 8   bikeid                   300000 non-null  int64
 9   usertype                 300000 non-null  object
 10  birth year               300000 non-null  int64
 11  gender                   300000 non-null  int64
dtypes: float64(4), int64(3), object(5)
memory usage: 27.5+ MB

In [30]:
df_cycles["user age"] = 2018 - df_cycles["birth year"]
df_cycles[df_cycles["user age"] > 60].shape[0]

11837

In [32]:
df_cycles["starttime"] = pd.to_datetime(df_cycles["starttime"], dayfirst=True)
df_cycles["stoptime"] = pd.to_datetime(df_cycles["stoptime"], dayfirst=True)
df_cycles["trip_duration"] = df_cycles["stoptime"] - df_cycles["starttime"]
df_cycles["trip_duration"].head()

0   0 days 00:27:15.365000
1   0 days 00:02:12.200000
2   0 days 00:55:37.898000
3   0 days 00:07:16.837000
4   0 days 02:20:57.993000
Name: trip_duration, dtype: timedelta64[ns]

In [34]:
weekday = df_cycles['starttime'].dt.dayofweek
df_cycles['weekend'] = weekday.apply(lambda x: 1 if x ==5 or x == 6 else 0)
df_cycles['weekend'].sum()

115135

In [35]:
def get_time_of_day(time):
    
    if 0 <= time <= 6:
        return 'night'
    
    elif 6 < time <= 12:
        return 'morning'
    
    elif 12 < time <= 18:
        return 'day'
    
    elif 18 < time <= 23:
        return 'evening'
    
    else:
        return 'else'
    
    
df_cycles['time_of_day'] = df_cycles['starttime'].dt.hour.apply(get_time_of_day)
df_cycles['time_of_day'].value_counts()

day        143012
morning     95530
evening     46373
night       15085
Name: time_of_day, dtype: int64

In [40]:
night_trips =  df_cycles[df_cycles['time_of_day'] == "night"].shape[0]
day_trips =  df_cycles[df_cycles['time_of_day'] == "day"].shape[0]
round(day_trips/night_trips)

9