In [1]:
import pandas as pd

In [3]:
ufo_data = pd.read_csv('https://raw.githubusercontent.com/justmarkham/pandas-videos/master/data/ufo.csv', sep=',')
ufo_data.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [4]:
ufo_data_work = ufo_data.copy()

In [5]:
ufo_data_work["Time"] = pd.to_datetime(ufo_data_work["Time"], dayfirst=True)

In [7]:
ufo_data_work["Time"].dt.year.value_counts()

1999    2774
2000    2635
1998    1743
1995    1344
1997    1237
        ...
1936       2
1930       2
1935       1
1934       1
1933       1
Name: Time, Length: 68, dtype: int64

In [14]:
from datetime import timedelta
ufo_data_work['Date'] = ufo_data_work['Time'].dt.date
timedelta(ufo_data_work[ufo_data_work['State']=='NV']['Date'].diff().dt.days.mean())

datetime.timedelta(days=68, seconds=62281, microseconds=272085)