In [2]:
import pandas as pd

In [7]:
students_data = pd.read_csv('data\data\students_performance.csv', sep=',')
students_data.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [8]:
students_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [10]:
students_data.iloc[155]

gender                               female
race/ethnicity                      group C
parental level of education    some college
lunch                              standard
test preparation course           completed
math score                               70
reading score                            89
writing score                            88
Name: 155, dtype: object

In [11]:
students_data["math score"].mean()

66.089

In [12]:
students_data["race/ethnicity"].mode()

0    group C
Name: race/ethnicity, dtype: object

In [13]:
students_data[students_data["test preparation course"] == "completed"]["reading score"].mean()

73.89385474860335

In [25]:
students_data[students_data["math score"] == 0].shape[0]

1

In [21]:
print(students_data[students_data["lunch"] == "standard"]["math score"].mean())
print(students_data[students_data["lunch"] == "free/reduced"]["math score"].mean())

70.03410852713178
58.92112676056338

In [23]:
students_data["parental level of education"].value_counts(normalize=True) * 100

some college          22.6
associate's degree    22.2
high school           19.6
some high school      17.9
bachelor's degree     11.8
master's degree        5.9
Name: parental level of education, dtype: float64

In [29]:
a_median = students_data[students_data["race/ethnicity"] == "group A"]["writing score"].median()
c_mean = students_data[students_data["race/ethnicity"] == "group C"]["writing score"].mean()
print(round(abs(a_median - c_mean)))

6